			html, body {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				background-color: #efefef;
			}

			header {
				position: fixed;
				width: 100%;
				height: 60px;
				background-color: rgb(20, 80, 155);
				box-shadow: 0px 0px 10px 1px #222222;
				z-index: 9999;
			}

			#section {
				position: relative;
				margin-top: 60px;
				float: left;
				width: 100%;
				height: 92%;
			}

			footer {
				float: left;
				width: 100%;
				height: 50px;
				background-color: #999999;
			}

			#section-column {
				margin: 0%;
				width: 100%;
				height: 100%;
				overflow-y: hidden;
			}

			#background {
				margin: 0%;
				width: 100%;
				height: 100%;
				background: url("imgCadastro1.jpg");
				background-size: 100%;
				overflow-y: hidden;
			}

			#background1 {
				margin: 0%;
				width: 100%;
				height: 100%;
				background: url("imgCadastro1.jpg");
				background-size: 100%;
				overflow-y: hidden;
			}

			#content-section {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				box-shadow: 0px 0px 1px 1px rgba(0,0,0, 0.1);
				margin-bottom: 20px;
			}

			#register-content {
				margin-left: 30%;
				margin-top: 3%;
				width: 900px;
				height: 500px;
				background-color: rgba(255, 255, 255, 0.8);
				box-shadow: 0px 0px 1px 1px rgba(0,0,0, 0.1);
				border-radius: 25px;
			}

			#register-form {
				width: 92%;
				height: 100%;
				padding: 30px;
			}

			#register-form input[type="text"], #register-form input[type="password"] {
				width: 90%;
				height: 30px;
				border-radius: 50px;
				border: none;
				padding: 10px;
				padding-left: 20px;
				box-shadow: inset 1px 1px 5px #333;
				color: #666;
				font-size: 20px;
				font-family: cursive;
				outline: none;
			}

			#register-form input[type="text"]:active, #register-form input[type="password"]:active {
				outline: none;
			}

			#register-form input[type="text"]:onfocus, #register-form input[type="password"]:onfocus {
				outline: none;
			}

			#register-form input[type="text"]:visited, #register-form input[type="password"]:visited {
				outline: none;
			}

			#register-form input[type="submit"] {
				width: 40%;
				height: 70px;
				border-radius: 50px;
				border: none;
				padding: 10px;
				box-shadow: 1px 1px 5px #333;
				padding-left: 20px;
				color: #666;
				font-size: 35px;
				font-family: cursive;
				outline: none;
			}

			#register-form input[type="submit"]:active {
				box-shadow: inset 1px 1px 5px #333;
			}